* {
  ---bRadius: 0.5rem;
}
.App {
  font-family: sans-serif;
  text-align: center;
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1 {
  margin: 0;
}

body {
  margin: 0;
}
main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  row-gap: 1rem;
}
button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  background: lightgoldenrodyellow;
}

.loading-banner {
  background: lightgray;
  padding: 1rem 2rem;
  border-radius: var(---bRadius);
}

.location-box {
  background-color: lightblue;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  width: 70%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid green;
  row-gap: 1rem;
  border-radius: var(---bRadius);
}

.location-item {
  display: flex;
  width: 100%;
  column-gap: 2rem;
  align-items: center;
  padding: 0.2rem;
}

.location-item > span {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
}

.location-item > span:nth-child(2) {
  background: lightgray;
  padding: 0.2rem;
  border-radius: var(---bRadius);
  flex-grow: 1;
}
